:root {
  --main-color: rgb(255, 0, 0);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden !important;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: #282828;
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

input {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.my-container {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  overflow: visible;
}

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Mobile menu starts here */

.mobileMenu {
  display: none;
}

.menu-button {
  display: none;
}

.main__slider .slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - 128px);
}

.main__slider .slider__item-content {
  max-width: 575px;
  width: 100%;
}

.main__slider .slider__item-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: normal;
}

.main__slider .slider__item-subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 30px;
}

.main__slider .slider__item-image {
  max-width: 680px;
  width: 100%;
  position: relative;
}

.main__slider .slider__item-image .buble {
  position: absolute;
}

.main__slider .slider__item-image .buble-sm {
  top: 10%;
  left: 15%;
  -webkit-animation: topToBottom 30s infinite;
          animation: topToBottom 30s infinite;
}

.main__slider .slider__item-image .buble-md {
  top: 80%;
  right: 0;
  -webkit-animation: bottomToTop 18s infinite;
          animation: bottomToTop 18s infinite;
}

.main__slider .slider__item-image .buble-lg {
  top: 50%;
  left: 0;
  -webkit-animation: bottomToTop 20s infinite;
          animation: bottomToTop 20s infinite;
}

.main__slider .slider__item-image .buble-xl {
  top: 30%;
  right: 8%;
  z-index: 6;
  -webkit-animation: topToBottom 30s infinite;
          animation: topToBottom 30s infinite;
}

.main__slider .slider__item-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 5;
}

.main__slider .slider__item-photo img {
  max-width: 470px;
  width: 100%;
}

.main__slider .slider__item .main-btn {
  margin-left: 25px;
}

.buble {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.buble-sm {
  max-width: 60px;
}

.buble-md {
  max-width: 80px;
}

.buble-lg {
  max-width: 110px;
}

.buble-xl {
  max-width: 150px;
}

.toToBottom {
  -webkit-animation: topToBottom 25s infinite;
          animation: topToBottom 25s infinite;
}

@-webkit-keyframes topToBottom {
  0% {
    margin-top: -50px;
  }

  50% {
    margin-top: 50px;
  }

  100% {
    margin-top: -50px;
  }
}

@keyframes topToBottom {
  0% {
    margin-top: -50px;
  }

  50% {
    margin-top: 50px;
  }

  100% {
    margin-top: -50px;
  }
}

@-webkit-keyframes bottomToTop {
  0% {
    margin-top: 50px;
  }

  50% {
    margin-top: -50px;
  }

  100% {
    margin-top: 50px;
  }
}

@keyframes bottomToTop {
  0% {
    margin-top: 50px;
  }

  50% {
    margin-top: -50px;
  }

  100% {
    margin-top: 50px;
  }
}

.main-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-color);
  color: white !important;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 3px 30px;
          box-shadow: rgba(255, 0, 0, 0.5) 0px 3px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-btn:hover {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.main-btn:active {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.header__menu-item {
  padding: 10px 0;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__menu-item.dropdown .header__menu-link::before {
  content: '\f107';
  position: absolute;
  left: calc(100% + 5px);
  font-family: 'FontAwesome';
}

.header__menu-item:hover .header__menu-dropdown {
  display: block;
}

.header__menu-item .header__menu-dropdown {
  display: none;
}

.header__menu-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  font-weight: 600;
}

.header__menu-dropdown {
  position: absolute;
  top: calc(100% + 0px);
  z-index: 55;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
}

.header__menu-dropdown-item:first-child a {
  padding-top: 15px;
}

.header__menu-dropdown-item:last-child a {
  padding-bottom: 15px;
}

.header__menu-dropdown-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
}

.header__menu-dropdown-link:hover {
  color: white;
  background-color: var(--main-color);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
}

.header__contacts-icon {
  max-width: 18px;
  width: 100%;
  margin-right: 20px;
}

.header__contacts-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__contacts-content h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.header__contacts-content a {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 160px;
  width: 100%;
  margin-right: 20px;
}

.logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1450px) {
  .my-container {
    max-width: 1130px;
  }
}

@media (max-width: 1200px) {
  .my-container {
    max-width: 980px;
  }
}

@media (max-width: 991px) {
  .my-container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .my-container {
    padding: 0 15px;
    width: 100%;
    max-width: unset;
  }
}