<header class="header">
    <div class="my-container">
        <div class="header__wrap">
            <a href="#" class="logo">
                <img src="./img/png/logo.png" alt="logo">
            </a>
            <div class="header__details">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="#!"class="header__menu-link">О нас</a>
                    </li>
                    <li class="header__menu-item dropdown">
                        <a href="#!"class="header__menu-link">Услуги</a>
                        <ul class="header__menu-dropdown">
                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Ревмотология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Неврология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Реабилитация после инсульта</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Лечение паралича</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Гастроэнтерология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Эндокринология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Гинекология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Урология</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Дыхательная система</a>
                            </li>

                            <li class="header__menu-dropdown-item">
                                <a href="#!" class="header__menu-dropdown-link">Посттравматическая реабилитация</a>
                            </li>

                        </ul>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!"class="header__menu-link">Методы лечения</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!"class="header__menu-link">Наши врачи</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!"class="header__menu-link">Филиалы</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!"class="header__menu-link">Контакты</a>
                    </li>

                </ul>

                <div class="header__contacts">
                    <div class="header__contacts-icon">
                        <img src="./img/png/contacts-phone.png" alt="">
                    </div>
                    <div class="header__contacts-content">
                        <h5>Call-center</h5>
                        <a href="tel:+998949521111">+998 94 952 11 11</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>