<div class="navigation-drawer">
    <div class="header__contacts">
        <div class="header__contacts-icon">
            <img src="./img/png/contacts-phone.png" alt="">
        </div>
        <div class="header__contacts-content">
            <h5>Call-center</h5>
            <a href="tel:+998949521111">+998 94 952 11 11</a>
        </div>
    </div>


    <ul class="accordion" id="accordion">

        <li class="accordion__list">
            <div class="link">
                <a href="./about.html" class="link__title">О нас</a>
            </div>
        </li>

        <li class="accordion__list">
            <div class="link">
                <span class="link__title">Услуги</span>
                <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li><a href="">Ревмотология</a></li>
                <li><a href="">Неврология</a></li>
                <li><a href="">Реабилитация после инсульта</a></li>
                <li><a href="">Лечение паралича</a></li>
                <li><a href="">Гастроэнтерология</a></li>
                <li><a href="">Гинекология</a></li>
                <li><a href="">Урология</a></li>
                <li><a href="">Дыхательная система</a></li>
            </ul>
        </li>

        <li class="accordion__list">
            <div class="link">
                <a href="./treatment-methods.html" class="link__title">Методы лечения</a>
            </div>
        </li>

        <li class="accordion__list">
            <div class="link">
                <a href="./doctors.html" class="link__title">Наши врачи</a>
            </div>
        </li>

        <li class="accordion__list">
            <div class="link">
                <a href="./contacts.html" class="link__title">Контакты</a>
            </div>
        </li>

    </ul>

</div>

<div class="backdrop">

</div>